body{
    background-color: #0D192C;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .card{
    position: relative;
    max-width: 302px;
    padding:24px;
    border-radius: 15px;
    background-color: #15263F;
  }
  .card:hover{
    transition-duration: 3s;
    box-shadow: 0px 0px 60px 45px rgb(0, 31, 71);
  }

  .main-img{
    max-width: 100%;
    border-radius: 8px;
    cursor: pointer;
  }
  .aye{    
  background: hsl(178, 100%, 50%, 50%) ;
  position: absolute;
  top: 24px;
  width: 302px;
  height: 302px;
  border-radius: 8px;
  cursor: pointer;
  opacity:0;
  transition-duration: 1.3s;
  }

  .aye:hover{
    opacity:1;
  }

  .aye-img{
    transform: translate(-22px, -22px);
    position:absolute;
    top: 50%;
    left: 50%;
    opacity:1;
  }

  h1{
    font-family: 'Outfit', sans-serif;
    font-size: 2em;
    margin: 18px 0;
    font-weight: 600;
    width: fit-content;
    color: #ffffff;
    cursor: pointer;
  }
  h1:hover{
    color: #00FFF8
  }

  h2{

    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
    color: #8BACD9;
  }

  .middle{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #2E405A;
    
    margin: 24px 0;
  }

  h3{
    display: inline;
    font-weight: 600;
    color: #00FFF8;
  }

  .time{
    display: inline;
    font-weight: 400;
    color: #8BACD9;
    margin-bottom: 24px;
  }

  footer{
    display: flex;
    margin-top: 16px;
  }

  .author{
    width: 33px;
    height: 33px;
  }

  .author:hover{
    zoom: 3;
    transition-duration: 2s;
  }

  .creator{
    color: #8BACD9;
    font-weight: 400;
    margin: 0 5px 7px 16px;
  }

  .name{
    color:#FFFFFF;
    font-weight: 400;
    cursor: pointer;
  }
  .name:hover{
    color: #00FFF8
  }
